<!DOCTYPE html>
<html>
<title>Homepage</title>
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style_0.css')}}">

<body text="Red" class="bg">
<center>
	<h1>Student Information Site</h1>

<button class="button button3" onclick="window.location.href='/adding'">Add</button><br>
<button class="button button3" onclick="window.location.href='/deleting'">Delete</button><br>
<button class="button button3" onclick="window.location.href='/update'">Update</button><br>
<button class="button button3" onclick="window.location.href='/list'">Show Table</button><br>
<button class="button button3" onclick="window.location.href='/search'">Search</button>
</center>
</body>
</html